body, #wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    margin-top: auto;
}

.bg-black {
    background-color: #1d2124;
}

.my-div-style {
    margin-top: 6rem;
}

.col-md-10 {
    margin-top: 100px;
}

.w-100 {
    margin-bottom: 50px;
}